.input {
    &__label {
        position: absolute;
        top: 16px;
        left: 42px;
    }
    
    &__control {
        padding: 16px 42px;
        width: 100%;
        font-size: 16px;
        line-height: 1.17;
        border: 1px solid var(--color-secondary-dark);
        border-radius: 8px;
        background-color: transparent;

        @media screen and (max-width: $bp-desktop) {
            padding: 8px 24px;
            line-height: normal;
            max-width: 480px;
            width: 100%;
        }

        // @media screen and (max-width: $bp-tablet) {
        //     max-width: 424px;
        //     width: 100%;
        // }

        &:focus {
            border-color: var(--color-primary-green);
            outline: none;
        }

        &::placeholder {
            font-size: 16px;
            line-height: 1.17;
            color: var(--color-secondary-dark);
        }

        &:focus::placeholder {
            color: var(--color-primary-dark);
        }
    }
}