.pagination {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 32px;

    @media screen and (max-width: $bp-tablet) {
        gap: 20px;
        margin-top: 16px;
    }

    &__bullet {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--color-secondary-dark);

        @media screen and (max-width: $bp-tablet) {
            width: 8px;
            height: 8px;
        }

        &--active {
            background-color: var(--color-secondary-green);
        }
    }
}