.formats-section {
    &__title {
        margin-bottom: 80px;

        @media screen and (max-width: $bp-desktop) {
            margin-bottom: 24px;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    &__item {
        border-radius: 16px;

        &--1 {
            background: url(../images/walrus-format.jpg) no-repeat center;
            background-size: cover;
        }

        &--2 {
            background: url(../images/horseshoe-format.jpg) no-repeat center;
            background-size: cover;
        }

        &--3 {
            background: url(../images/handlebar-format.jpg) no-repeat center;
            background-size: cover;
        }
    }
}



